.dashboard {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
}

.dashboard .nav-item {
  background-color: #fff;
}

.dashboard .nav-link {
  color: #2e968d;
}

.dashboard .active {
  background-color:#2e968d;
}

.dashboard .active.nav-link {
  color: #fff;
}

